################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure-dotnet/.vs/azure-dotnet/FileContentIndex/653e4577-2bfb-4683-99fa-6e167f220717.vsidx
